<!-- <div class="container-fluid">
    <div class="row">
        <app-navbar class="col-12"></app-navbar>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <app-header class="col-12"></app-header>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="row">
        <app-side-menu class="col-3"></app-side-menu>
        <app-master class="col-9"></app-master>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="row">
        <app-footer class="col-12 bg-dark text-light p-1 text-center"></app-footer>
    </div>
</div> -->

<app-navbar></app-navbar>
<router-outlet></router-outlet>